.container {
  display: flex;
  justify-content: center;
  align-items: center;

  & .status-row {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & .lives {
      text-align: center;

      & .life {
        font-size: 1.5em;

        &:not(:last-child) {
          margin-right: 0.25em;
        }
      }
    }

    & .time-left {
      font-size: 1.5em;
    }

    & .points-container {
      text-align: center;
    }

    & .points {
      font-size: 1.5em;
    }
  }

  & .prompt, & .start-game, & .body {
    flex: 3;
    display: flex;
    align-items: center;
    font-size: 48px;
  }

  & .options {
    flex: 1;

    & .button {
      margin-right: 1em;
    }
  }
}
