.container :global(.ant-input) {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  border-bottom: 2px solid black;
  font-size: 16px;
  height: 36px;
  font-family: 'Nunito', sans-serif;

  &:focus, &:hover {
    border-bottom-color: var(--brand-secondary);
    box-shadow: none;
  }
}

.label {
  padding: 0.5em;
  font-size: 14px;
  color: black;
}
