@import "./colors.pcss";

:root {
  --box-shadow: 5px 6px 5px 0px rgba(173,173,173,0.4);
  --transition: visibility 800s linear 800ms, opacity 800ms;
  --border: 1px solid var(--border-grey);
  --shortcut: {
    text-align: center;
    color: var(--grey);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);

    &.visible {
      visibility: visible;
      opacity: 1;
    }
  }
}
