.create-deck-row {
    margin: 1em 0;
    display: flex;
    align-items: baseline;
    & .create-deck-btn {
        flex-basis: auto;
    }
    & .deck-input {
        flex: 8;
    }
}

.body {
    padding: 1em 0;
    width: 100%;
}

.alert-button-row {
    display: flex;
    &>div {
        color: blue;
        text-decoration: underline;
        padding: 0.5em;
        cursor: pointer; /* todo consolidate */
    }
}
