@import "../../styles/variables.css";
.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  & .learning-complete {
    flex: 1%;
  }

  & .completed {
    flex: 0 0 50px;
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
