@import "../../styles/variables.css";

.row {
    display: flex;
    padding: 1em;
    vertical-align: center;
    background-color: white;
    margin: 1.5em 0;
    box-shadow: var(--box-shadow);
}

.front {
    padding-right: 2em;
}

.side {
    flex: 1;

    &.side-read-only {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        h2 {
            flex: 1;
            margin: 0;
        }

        & .edit-icon {
            flex: 0 0 auto;
            font-size: 1.5em;
            padding: 0 1em;
        }
    }
}

.card-number {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
}
