@import "../../styles/variables.css";

.row {
    display: flex;
    padding: 1em;
    vertical-align: center;
    background-color: white;
    margin: 1.5em 0;
    box-shadow: var(--box-shadow);
}

.front {
    padding-right: 2em;
}

.side {
    flex: 1;
}

.card-number {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
}
