@import "../../styles/variables.css";
.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  & .learning-complete {
    flex: 1%;
  }

  & .completed {
    flex: 0 0 50px;
  }

  & .navigation-footer {
    display: flex;
    width: 100%;
    padding: 0.5em;

    & .navigation-button {
      flex: 0 0 auto;
    }

    & .completed {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
