@import "../../styles/variables.css";

.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  & .deck-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 0 0 auto;

    & .deck {
      flex: 0 0 50px;
      font-size: 18px;

      & .count {
        font-size: 36px;
        text-align: center;
      }

      & .count-label {
        text-align: center;
      }
    }
  }

  & .body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  & .deal-unseen {
    animation: deal-unseen 0.5s ease-in 1;
  }

  & .deal-seen {
    animation: deal-seen 0.5s ease-in 1;
  }

  & .add-card-to-seen {
    animation: discard-to-seen 0.5s ease-out 1;
  }

  & .add-card-to-unseen {
    animation: discard-to-unseen 0.5s ease-in 1;
  }

  & .learning-complete {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  & .completed {
    flex: 0 0 50px;
  }

  & .navigation-footer {
    display: flex;
    width: 100%;
    padding: 0.5em;

    & .navigation-button {
      flex: 0 0 auto;
    }

    & .completed {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes deal-seen {
  0% {
    transform: translateX(300%);
  }
}

@keyframes deal-unseen {
  0% {
    transform: translateX(-300%);
  }
}

@keyframes discard-to-seen {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateX(300%);
  }
}

@keyframes discard-to-unseen {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translateX(-300%);
  }
}

